@import '../../_setup';

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  text-align: center;

  > .bomb {
    width: 100px;
    height: 150px;
    display: block;
    margin: 0 auto;
  }

  .code {
    color: $brand2;
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;

    .codesWrapper {
      text-align: center;
      > div {
        word-spacing: 5px;
        margin: 15px auto;
      }
    }
  }

  > small > a {
    color: $brand2;
  }
}



